# --- ENVIRONMENT VARIABLES ---
.env
.env*

# --- PYTHON ---
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
dist/
build/

# --- DATA / DOCUMENTS ---
# We are now tracking all documents in this folder.
# Ensure your compressed files are inside this directory.
Input_Documents/.DS_Store